In [70]:
class Zoo:
    def __init__(self, name, city):
        self.name = name
        self.city = city
        self.operatingHours = 8
        self.price = {  'monday' : 19.99,
                        'muesday' : 19.99,
                        'wednesday' : 9.99,
                        'thursday' : 19.99,
                        'friday' : 19.99,
                        'saturday' : 25.99,
                        'sunday' : 25.99 }
        self.animals = []
    
    def getCantAnimals(self):
        print( len(self.animals))
    
    def addAnimal(self, animal):
        self.animals.append(animal)
    
    def removeAnimal(self, animal):
        if animal in self.animals:
            self.animals.remove(animal)

    def getPrice(self, day):
        return self.price[day.lower()]
    
    def getAnimalsDescription(self):
        for animal in self.animals:
            animal.getDescription()


class Animal:
    def __init__(self, specie, name, legs, gender):
        self.specie = specie
        self.name = name
        self.legs = legs
        self.gender = gender

    def getDescription(self):
        print(f"Name: {self.name}\nSpecie: {self.specie}\nNumber of Legs: {self.legs}\nGender: {self.gender}\n")

    def getName(self):
        return self.name

In [71]:
class Giraffe(Animal):
    def __init__(self, specie, name, legs, gender, height):
        self.specie = specie
        self.name = name
        self.legs = legs
        self.gender = gender        
        self.height = height
    
    def getDescription(self):
        print(f"Name: {self.name}\nSpecie: {self.specie}\nNumber of Legs: {self.legs}\nGender: {self.gender}\nHeight: {self.height}\n")

    def getHeight(self):
        if self.height > 4.6:
            print(f"The giraffe is male, height: {self.height}")
        else:
            print(f"The giraffe is female, height: {self.height}")

In [72]:
class Crocodile(Animal):
    def __init__(self, specie, name, legs, gender, food):
        self.specie = specie
        self.name = name
        self.legs = legs
        self.gender = gender        
        self.food = food
    
    def getDescription(self):
        print(f"Name: {self.name}\nSpecie: {self.specie}\nNumber of Legs: {self.legs}\nGender: {self.gender}\nFavorite Food: {self.food}\n")

    def getFavoriteFood(self):
        return self.food

In [74]:
class GiantTortoise(Animal):
    def __init__(self, specie, name, legs, gender, age):
        self.specie = specie
        self.name = name
        self.legs = legs
        self.gender = gender        
        self.age = age
    
    def getDescription(self):
        print(f"Name: {self.name}\nSpecie: {self.specie}\nNumber of Legs: {self.legs}\nGender: {self.gender}\nAge: {self.age}\n")

    def getAgeStage(self):
        if self.age < 50:
            print("Young")
        elif self.age >= 50 and self.age < 100:
            print("Middle-Aged")
        else:
            print("Old")

In [75]:
madagascar = Zoo("Madagascar", "Posadas")

In [4]:
madagascar.getCantAnimals()

0

In [5]:
madagascar.getPrice('monday')

19.99

In [76]:
alex = Animal("Lion", "Alex", 4, "Male")
gloria = Animal("Hippopotamus", "Gloria", 4, "Female")
melman = Animal("Giraffe", "Melman", 4, "Male")

In [77]:
gira = Giraffe("Giraffe", "Gira", 4, "Female", 4)

In [24]:
gira.getDescription()

Name: Gira
Specie: Giraffe
Number of Legs: 4
Gender: Female
Height: 4

In [18]:
gira.getHeight()

The giraffe is female, height: 4

In [78]:
croco = Crocodile("Crocodile", "Croco", 4, "Male", "Bird")

In [31]:
croco.getDescription()

Name: Croco
Specie: Crocodile
Number of Legs: 4
Gender: Male
Favorite Food: Bird

In [32]:
croco.getFavoriteFood()

'Bird'

In [79]:
tortu = GiantTortoise("Giant Tortoise", "Tortu", 4, "Female", 27)

In [37]:
tortu.getDescription()

Name: Tortu
Specie: Giant Tortoise
Number of Legs: 4
Gender: Female
Age: 27

In [38]:
tortu.getAgeStage()

Young

In [7]:
alex.getDescription()

Name: Alex
Specie: Lion
Number of Legs: 4
Gender: Male

In [80]:
madagascar.addAnimal(alex)
madagascar.addAnimal(gloria)
madagascar.addAnimal(melman)

In [81]:
madagascar.addAnimal(gira)

In [82]:
madagascar.addAnimal(croco)

In [83]:
madagascar.addAnimal(tortu)

In [84]:
madagascar.getAnimalsDescription()

Name: Alex
Specie: Lion
Number of Legs: 4
Gender: Male

Name: Gloria
Specie: Hippopotamus
Number of Legs: 4
Gender: Female

Name: Melman
Specie: Giraffe
Number of Legs: 4
Gender: Male

Name: Gira
Specie: Giraffe
Number of Legs: 4
Gender: Female
Height: 4

Name: Croco
Specie: Crocodile
Number of Legs: 4
Gender: Male
Favorite Food: Bird

Name: Tortu
Specie: Giant Tortoise
Number of Legs: 4
Gender: Female
Age: 27

In [85]:
madagascar.removeAnimal(gira)

In [86]:
madagascar.getAnimalsDescription()

Name: Alex
Specie: Lion
Number of Legs: 4
Gender: Male

Name: Gloria
Specie: Hippopotamus
Number of Legs: 4
Gender: Female

Name: Melman
Specie: Giraffe
Number of Legs: 4
Gender: Male

Name: Croco
Specie: Crocodile
Number of Legs: 4
Gender: Male
Favorite Food: Bird

Name: Tortu
Specie: Giant Tortoise
Number of Legs: 4
Gender: Female
Age: 27